/* browser directives */
*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style for headers */
#header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 20px 0px;
    padding: 20px 0px;
}
#header h1{
    font-size: 2.5em;
    color: #8f7a03;
    margin-bottom: 10px;
}
#header h3{
    font-size: 1.5em;
    color: #60aa00;
    margin-bottom: 10px;
}
#header h4{
    font-size: 1.2em;
    color: #333;
}   

/* style for links */
#link-sketches{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px 0px;
}

#link-sketches ul li{
    list-style: none;
    margin: 20px 0px;   
}

#link-sketches ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    border-radius: 15px;
    border: 0.1px solid #8f7a03;
    padding: 5px 7px;
    background:linear-gradient(90deg, #8f7a03, #60aa00);
    transition: 0.03 ease;
}
#link-sketches ul li a:hover{
    background: none;
    color: #8f7a03;
}

/* style for footer */
#footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px 0px;
}

#footer .about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer .about-me .profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}